<article>
  <section>
    <h1>Datepicker Exemplo</h1>
    <h3>Esse é o estilo padrão do datepicker</h3>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </section>
  <section>
    <h3>Removendo o ícone do Date Picker</h3>
    <mat-form-field appearance="fill" class="noIcon">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker1" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <br />
    <p>Primeiro passo é localizar a classe que contém o ícone.</p>

    <p>
      Para isso, abra a ferramenta do desenvolvedor (DevTools / Inspecionar) e
      selecione a parte do componente que deseja acessar.
    </p>

    <img src="../../../assets/images/datepicker1.PNG" />
    <br />
    <p>
      Agora que sabemos qual classe devemos modificar, vamos fazer a modificação
      no nosso código.
    </p>
    <p>
      Para isso, vamos criar uma classe (noIcon) e adicioná-la ao componente.
      Dessa forma, a modificação afetará somente esse exemplo.
    </p>
    <img src="../../../assets/images/datepicker2.PNG" />
    <br />
    <p>
      Em seguida, usaremos o seletor ':host ::ng-deep' + o nome da classe que
      criamos + o nome da classe que queremos modificar para ter acesso a essa
      classe interna e aplicar o estilo.
    </p>
    <img src="../../../assets/images/datepicker3.PNG" />
  </section>
  <section>
    <h3>Alterando a cor do ícone</h3>
    <mat-form-field appearance="fill" class="icon-color">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker2" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br />
    <p>
      Para alterar a cor, seguiremos os mesmos passos, porém em vez de
      selecionar a div, devemos escolher o botão, pois é ele que recebe a cor.
    </p>
    <img src="../../../assets/images/datepicker4.PNG" />
    <br />
    <p>
      Agora criaremos outra classe para aplicar a cor (icon-color) e definiremos
      a cor desejada.
    </p>
    <img src="../../../assets/images/datepicker5.PNG" />
    <img src="../../../assets/images/datepicker6.PNG" />
  </section>
</article>
