<div class="flex">
  <h1>Toggle Button Exemplo</h1>
  button-toggle: cor, forma, espaçamento
  <div>
    <h3>Esse é o estilo padrão do toggle button</h3>
    <mat-button-toggle-group name="language" aria-label="Font Style">
      <mat-button-toggle value="pt-br">pt-br</mat-button-toggle>
      <mat-button-toggle value="en">en</mat-button-toggle>
      <mat-button-toggle value="es">es</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <br />
  <div class="flex exemple">
    <h3>Modificando o toggle button</h3>
    <mat-button-toggle-group name="language" aria-label="Font Style">
      <mat-button-toggle value="pt-br">pt-br</mat-button-toggle>
      <mat-button-toggle value="en">en</mat-button-toggle>
      <mat-button-toggle value="es">es</mat-button-toggle>
    </mat-button-toggle-group>
    <br />
    <span
      >Primerio vamos limitar o tamanho do toggle button, para isso não
      aplicamos uma estilização tradicional, criando a classe e definindo o
      estilo</span
    >
    <img src="../../../assets/images/button1.PNG" />
    <img src="../../../assets/images/button1.PNG" />
    <span></span>
  </div>
</div>
