mat-sidenav-container {
    height: 100%;
    width: 100%;
    mat-sidenav  {
        width: 15%;
    }
    mat-sidenav-content {
        width: 85%;
    }
}
a {
    text-decoration: none;
    color: white;
}

.main-container{
    height: 100%;
    width: 100%;
}